<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title></title>
    <style>
    body{
      background-color:#394989;
    }
    h1{
      color:#ffa931;
      font-weight: bolder;
      font-size: 65px;
    }
    h3{
      font-size: 40px;
      font-weight: bolder;
      color:white;
    }
    .btn{
      color:white;
      font-size: 20px;
      font-weight: bolder;
      text-transform: uppercase;
    }
    </style>
  </head>
  <body>
    <div class="container" align="center">
    <h1>ABOUT</h1><br>
    <h3>This is password generator by Surabhi Sune!!</h3><br><br>
    <a class="btn btn-warning btn-lg" href="{%url 'home' %}">HOME PAGE</a>
  </div>
  </body>
</html>
